.logo {
    position: absolute;
    left: 35px;
}

.login {
    position: absolute;
    background-color: #242424;
    width: 23vw;
    height: 450px;
    border-radius: 43px;
    left: 40%;
    top: 15%;
}

.loginTitle {
    position: absolute;
    left: 16%;
    top: 5%;
    font-size: 2vw;
}

.signuptitle {
    position: absolute;
    left: 14%;
    top: 3%;
    font-size: 2vw;
}

.textbox {
    background-color: #242424;
    position: absolute;
    top: 24%;
    left: .7vw;
    font-size: 23px;
    height: 30px;
    border-bottom: 2px solid azure;
    padding-bottom: 12px;
}

.textbox1 {
    position: absolute;
    left: 0.7vw;
    top: 40%;
    font-size: 23px;
    height: 30px;
    border-bottom: 2px solid azure;
    padding-bottom: 12px;
}

.textbox2 {
    position: absolute;
    left: 0.7vw;
    top: 56%;
    font-size: 23px;
    height: 30px;
    border-bottom: 2px solid azure;
    padding-bottom: 12px;
}

input {
    height: 30px;
    width: 21vw;
    background-color: #242424;
    text-decoration: none;
    border: none;
    outline: none;

}

::placeholder {
    color: #fff;
}

.errors {
    font-size: 15px;
    padding-top: 2px;
}

.submit,
.submit1 {
    position: absolute;
    top: 73%;
    left: 35%;
    background-color: #D9D9D9;
    color: #242424;
    font-weight: 700;
    width: 97px;
    height: 40px;
    border-radius: 49px;
    transition: .5 s ease-in;
}

.submit:hover,
.submit1:hover {
    color: #D9D9D9;
    background-color: #242424;
}

.lostPassword {
    position: absolute;
    top: 46%;
    left: 3%;
    font-size: 15px;
    font-weight: 300;
}

.signup {
    position: absolute;
    top: 46%;
    left: 82%;
    font-size: 15px;
    font-weight: 300;
}

.loggin {
    position: absolute;
    top: 59%;
    left: 84%;
    font-size: 15px;
    font-weight: 300;
}

.submit1 {
    top: 79%;
}